html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}


main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div{
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.showColorSwap {
    display: none;
}

#clothTypeContainer {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#clothTypeContainer >* {
    margin: 10px;
}

#priceDiv >* {
    margin: 2px;
}